# API Key from Google AI Studio
GOOGLE_API_KEY="ENTER_YOUR_GOOGLE_API_KEY"
JINA_API_KEY="ENTER_YOUR_JINA_API_KEY"
NOMIC_API_KEY="ENTER_YOUR_NOMIC_API_KEY"

# LangSmith Configuration for LLM Observability
LANGCHAIN_TRACING_V2="true"
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="ENTER_YOUR_LANGSMITH_API_KEY"
LANGCHAIN_PROJECT="UIN Jakarta TI Chatbot"


